#[client]
#default-character-set = utf8

#[mysql]
#default-character-set = utf8

[mysqld]
#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock
#bind-address = 127.0.0.1
symbolic-links = 0
default-character-set = utf8
#skip-character-set-client-handshake
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8

#[mysqld_safe]
#log-error=/var/log/mariadb/mariadb.log
#pid-file=/var/run/mariadb/mariadb.pid

!includedir /etc/my.cnf.d

